canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}

@keyframes example {
    from {
        box-shadow: 20px 20px 10px red;
    }

    to {
        box-shadow: 1px 1px 38px yellow;
    }
}